venv/ 
__pycache__/ 
.env 

# Mengabaikan Virtual Environment Python
Lib/
Include/
Scripts/
pyvenv.cfg

# Mengabaikan Model Machine Learning
roberta_sentiment_local/model.safetensors
*.safetensors
*.h5
*.pt
*.bin